/* 版心 */
.w {
    width: 1200px;
    margin: 0 auto;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.red {
    color: #c81623;
}

/* 快捷导航模块 */
.shortcut {

    height: 50px;
    line-height: 50px;
    background-color: rgb(192, 178, 197);
}

.shortcut ul li {
    font-size: 15px;
    float: left;
}

.shortcut .fr ul li:nth-child(even) {
    width: 1px;
    height: 12px;
    background-color: #666;
    margin: 20px 15px 0px;
}

.arrow-icon::after {
    content: "\e91e";
    font-family: 'icomoon';
    margin-left: 6px;
}